html {
  scroll-behavior: smooth;
  background-color: lightcoral;
}
body {
  margin: 0;
}
.main {
  display: flex;
}
.menu {
  padding: 40px;
  padding-top: 20px;
  padding-right: 60px;
  background-color: rgb(189, 190, 190);
}
.menu h1 {
  margin-bottom: 30px;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  white-space: nowrap;
  margin-bottom: 20px;
}
.menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.menu-content {
  padding-top: 20px;
  position: sticky;
  top: 0;
}
.content {
  padding: 40px;
  text-align: justify;
}
.menu button {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu {
    height: 100vh;
    position: fixed;
    padding: 20px 40px;
    transform: translateX(-100%);
    transition: 0.5s;
  }
  .content {
    padding: 20px 40px;
  }
  .menu-activo {
    transform: translateX(0);
  }
  .menu button {
    display: block;
    font-size: 20px;
    background: none;
    outline-color: transparent;
    border: 0;
    transform: translateX(180px);
  }
}
